html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --color-background: hsl(104, 100%, 100%);
  --color-primary: hsl(240, 3%, 12%);
  --color-secondary: hsl(263, 99%, 50%);
  --heading-text-gradient: linear-gradient(135deg, #6303fe 25%, #03cffe);
}

html.dark {
  --color-background: hsl(221, 39%, 11%);
  --color-primary: hsl(104, 100%, 100%);
  --color-secondary: hsl(191, 99%, 50%);
  --heading-text-gradient: linear-gradient(320deg, #03fecf, #03cffe 50%);
}

body {
  background-color: var(--color-background);

  /* Transition colors */
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

h1,
h2,
h3,
h4,
p {
  color: var(--color-primary);
}

h1 {
  font-family: "Newsreader", serif;
  font-size: 8rem;
  background-image: var(--heading-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
